.endgame-page {
  font-size: medium;
  padding: 10px;
}

.summary-answer {
  text-align: left;
}
.summary-answer .item-answer {
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
}
.summary-answer .item-answer.correct {
  background-color: #b9e67f;
  box-shadow: 3px 3px 10px #D0DFBD;
}
.summary-answer .item-answer.incorrect {
  background-color: #F2C4C4;
  box-shadow: 3px 3px 10px #F2C4C4;
}
