.endgame-page {
  font-size: medium;
  padding: 10px;
}

.summary-answer {
  text-align: left;
}
.summary-answer .item-answer {
  border-radius: 10px;
  padding: 5px 15px;
  margin: 10px auto;
  color: white;
  max-width: 500px;
  width: 100%;
}
.summary-answer .item-answer.correct {
  background-color: #5ccc28;
  box-shadow: 3px 3px 10px #5ccc2886;
}
.summary-answer .item-answer.incorrect {
  background-color: #ee7b5b;
  box-shadow: 3px 3px 10px #ee7b5b71;
}
